<div class="footer">
	<div class="row">
		<div class="col-sm-8">
			<a href="/seal/" title="This great seal was made by Mr. WANG Jiadong. Click to see more details.">
				<img src="/image/seal_200x200.png" height="36px" style="margin-left:17px; float:left"/></a>
			<p class="text-muted" style="margin-left:65px; text-transform:none; line-height:19px;">
				&copy
			        <a href="/" style="text-transform:none">
					shenhaihui.github.io
			        </a><br/>
				Last Update: 2019-04-05
			</p>
		</div>
	</div>
</div>
<!-- /footer -->
