<div class="header">
	<ul class="nav nav-pills pull-right" style="margin-top:15px;">
		<li class="{{ page.research }}"><a href="/research" title="Research">Research</a></li>
		<li class="{{ page.project }}"><a href="/project" title="Project">Project</a></li>
		<li class="{{ page.teaching }}"><a href="/teaching" title="Teaching">Teaching</a></li>
	</ul>

	<h3 class="text-muted" style="margin-left:17px; font-size:20px; line-height:25px; text-transform:none">
		<a href="/"><img src="/image/seal_200x200.png" height="50px" style="float:left"/></a>
		<a href="/" style="margin-left:10px">SHEN Haihui</a><br/>
		<a href="/" style="margin-left:10px">沈海辉</a> 
	</h3>
</div>
<!-- /header -->
