<head>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="SHEN Haihui">
	
	<!-- favicon -->	
	<link rel="apple-touch-icon" sizes="180x180" href="/image/icon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/image/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/image/icon/favicon-16x16.png">
	<link rel="manifest" href="/image/icon/site.webmanifest">
	<link rel="mask-icon" href="/image/icon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/image/icon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/image/icon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	
	
	<!-- Academicons, which is an icon font for academics. http://jpswalsh.github.io/academicons/ -->
	<link rel="stylesheet" href="/css/academicons.min.css">	
	<!--==== font-awesome ====-->
	<link rel="stylesheet" href="/css/font-awesome.min.css">
		
	
	<title>{{ page.title }}</title>
	<!-- styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
